images/01_POS002_D.TIF
images/01_POS002_F.TIF
images/01_POS002_R.TIF
images/01_POS076_D.TIF
images/01_POS076_F.TIF
images/01_POS076_R.TIF
images/01_POS218_D.TIF
images/01_POS218_F.TIF
images/01_POS218_R.TIF
results_headless/CroppedFlyImage0001.tiff
results_headless/CroppedFlyImage0002.tiff
results_headless/CroppedFlyImage0003.tiff
